@using DeviceManager.Service.Model
@model IList<DeviceImport>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Hardware Group</th>
            <th scope="col">Hardware Name</th>
            <th scope="col">Hardware Info</th>
            <th scope="col">Primary Address</th>
            <th scope="col">Secondary Address</th>
            <th scope="col">Connected Module Info</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@(i+1)</th>
                <td>@Model[i].Group</td>
                <td>@Model[i].Name</td>
                <td>@Model[i].Info</td>
                <td>@Model[i].PrimaryAddress</td>
                <td>@Model[i].SecondaryAddress</td>
                <td>@Model[i].ConnectedModuleInfo</td>
            </tr>
        }
    </tbody>
</table>