<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Content/Images/icon.ico" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/css-fontawesome")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-unobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-wizard")
</head>
<body>
    <div class="container body-content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Device Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active @(ViewBag.ActivePage == "Index" ? "current-page" : "")">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Server status<span class="sr-only">(current)</span></a>
                    </li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item active @(ViewBag.ActivePage == "Settings" ? "current-page" : "")">
                            <a class="nav-link" href="@Url.Action("Settings", "Administration")">Server settings</a>
                        </li>
                        <li class="nav-item active @(ViewBag.ActivePage == "Import" ? "current-page" : "")">
                            <a class="nav-link" href="@Url.Action("Import", "Administration")">Import hardware list</a>
                        </li>
                        <li class="nav-item active @(ViewBag.ActivePage == "Review" ? "current-page" : "")">
                            <a class="nav-link" href="@Url.Action("Review", "Administration")">Add/update/remove hardware</a>
                        </li>
                        <li class="nav-item active">
                            @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logout-form" }))
                            {
                                @Html.AntiForgeryToken()
                                <li class="nav-item active">
                                    <a class="nav-link" href="#" onclick="$('#logout-form').submit();">Logout</a>
                                </li>
                            }
                        </li>
                    }
                    else
                    {
                        <li class="nav-item active @(ViewBag.ActivePage == "Info" ? "current-page" : "")">
                            <a class="nav-link" href="@Url.Action("Info", "Home")">Info</a>
                        </li>
                        <li class="nav-item active @(ViewBag.ActivePage == "Manage" ? "current-page" : "")">
                            <a class="nav-link" href="@Url.Action("Index", "Account")">Manage</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hakan Yıldızhan</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
